:root {
  --blue: #007bff;
  --dark-blue: #0056b3;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --reddish-brown: #fb5849;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;

  font-weight: 400;
}
/*  body*/
body {
  line-height: 1.7em;
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: var(--white); /* replaced #F2F2F2 to white */
  width: 100%;
}
/* grid */
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


.col-4 {
  width: 86px;
} /*week-container week-nav tab-container column*/
.col-5 {
  width: 50%;
} /*meal-container breakfast,lunch,dinner (meal-col-)*/
.col-6 {
  width: 100%;
} /*individual meal in breakfast,lunch,dinner*/
.col-7 {
  width: 20%;
}
.col-8 {
  width: 32.35%;
} /* for left content of reservation-container*/
.col-9 {
  width: 67.65%;
} /*right-content of reservation-container*/

/* header  nav bar*/

/* about us */
.col-1 {
  width: 540px;
} /*.about-text column*/
.col-2 {
  width: 160px;
} /*.about-us .about-text .row img.col2*/
.col-3 {
  width: 510px;
} /*about-us about-vid img column*/
.about-us {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.about-us h6,
h2 {
  margin-bottom: 0;
  margin-top: 20px;
}
.about-us h6{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
  width: 420px;
}
.about-us h2{
  width: 420px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #2a2a2a;
  padding-right: 120px;
}
div.about-text p{
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
  width: 540px;
}
div.row img.col-2 {
  overflow: hidden;
  vertical-align: middle;
  padding-left: 0;
}
div.about-vid img {
  overflow: hidden;
  width: 100%;
  max-width: 470px;
  margin-top: 4.5vh;
}

/* menu */
/*
.menu-container {
  background-color: rgba(251, 88, 73, 0.05);
}
.menu-heading-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.menu-heading {
  width: 350px;
}
.menu-heading h2,
h6 {
  width: inherit;
}
.menu-heading h2 {
  margin-top: 10px;
}
.menu-heading h6 {
  padding-top: 90px;
  margin-bottom: 0;
  font-weight: 500;
}
.menu-list {
  width: 100%;
}
.dish {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
div.dish div.price {
  position: absolute;
  margin: 15px 15px;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
div.dish div.price h6 {
  color: var(--white);
  background-color: var(--reddish-brown);
  width: 60px;
  height: 60px;
  padding-top: 20px;
  margin: 0;
  text-align: center;
  border-radius: 4px;
}
div.dish img.dish-img {
  width: 100%;
}
div.overlay {
  position: absolute;
  bottom: 0;
  left: 5.5%;
  right: 0;
  width: 89%;
  height: 15%;
  overflow: hidden;
  color: var(--white);
  background-color: var(--reddish-brown);
  padding: 0;
  padding-top: 20px;
  margin: 0;
  text-align: left;
  border-radius: 4px;
  transition: all 0.5s;
}
div.overlay a{
    color: var(--white);
    margin-left: 20px;
}
div.dish:hover div.overlay {
  height: 50%;
  overflow: hidden;
}
div.overlay h1.title {
  font-size: 16px;
  margin-left: 20px;
}
div.overlay p.description {
  margin-left: 20px;
}
div.overlay span.list {
  margin-left: 20px;
}
*/
/*menu2*/
.menutitle{
    width: 100%;
    background: #fffafa;
    height: 100%;    
    padding: 100px;
    box-sizing: border-box;
}
.menuhead{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;   
}
.hr{
    width: 30px;
    float: left;
    margin-top: 4px;  
}
#mhr{
    border: none;
    background-color: #fb5849;
    height: 1px;
}
.menutitlet{
    width: 100px;
    float: left;
    margin-left: 10px;
    color: #fb5849;   
}
.menuline{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    font-size: 30px;
    font-weight: 999;
}
.menulinet{
    width: 350px;
    color: rgb(42,42,42);
}
.menuimagecon{  
    display: flex;  
    background: #fffafa;
    overflow-x: auto;
    overflow-y: hidden;   
}
.menucontainer{
    background: #fffafa;
    overflow: scroll;
    scrollbar-color: #fffafa;    
}
.menucards{   
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;
    margin-top: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    border-radius: 3px;
    position: relative;
    float: left;
}
/* klassy week */
/* breakpoint for klassy week should be min 1110px(width) for tablet */
div.week-container,
div.meal-container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
div.meal-container{
  padding: 0 15px;
}
#breakfast,#lunch,#dinner{
  width: 1140px;
}
.week-heading{
  margin-bottom: 70px;
}
.week-heading h2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.week-heading h6 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 650;
}
.week-heading,
.tab-container {
  text-align: center;
}

div.week-nav ul li {
  list-style-type: none;
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
}
div.week-nav ul {
  width: 450px;
  margin: auto;
}
/* below breakfast,lunch,dinner are set such as to display for first time when page loads */
#breakfast {
  display: block;
}
#lunch,
#dinner {
  display: none;
}
div.meal-col-1{
  width: 540px;
  padding: 0;
  margin-left: 15px;
}
/* below code to be added but not working */
.tab-container a:link {
  color: var(--reddish-brown);
}
.tab-container a:active {
  cursor: pointer;
  color: var(--reddish-brown);
}
/* meal of klassy week */
div.item {
  position: relative;
  width: 525px;
  padding: 0 15px;
  margin-bottom: 60px;
}

div.item div.price h6 {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--white);
  background-color: var(--reddish-brown);
  width: 70px;
  height: 70px;
  padding-top: 27.5px;
  text-align: center;
  border-radius: 4px;
}
div.item img.week-item {
  float: left;
  margin: 0 20px 0 0;
}
div.item-breif {
  width: 425px;
}
div.item-breif h4 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 100px;
}
div.item-breif p {
  width: 425px;
  margin-top: 0;
  font-size: 14px;
  line-height: 25px;
  margin-right: 100px;
}
/*responsive*/
@media only screen and (max-width: 1000px){
    .menuimagecon{
        width: 300%;
    }
    .menucards{
        flex: 50%;
    }
}
@media only screen and (min-width: 1000px){
    .menuimagecon{
        width: 120%;
    }
    .menucards{
        flex: 20%;
    }
}
/**/
.menuprice{
    margin: 0px;
    width: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fb5849;
    border-radius: 3px;
    color: white;
    font-weight: 850;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.menudish{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fb5849;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 40px;
    transition: 0.5s ease;
    color: white;
    padding: 18px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
  
.menucards:hover .menudish {
    height: 50%;
}
.menudishn{
    font-size: 18px;
    font-weight: 700;
}
.menurlink{
    margin-top: 30px;
    font-size: 12px;
    font-weight: 500;
}

#mdish1{
    background-image: url(image/menu/menu-item-01.jpg);
    width: 340px;
    height: 400px;
}
#mdish2{
    background-image: url(image/menu/menu-item-02.jpg);
    width: 340px;
    height: 400px;

}
#mdish3{
    background-image: url(image/menu/menu-item-03.jpg);
    width: 340px;
    height: 400px;
}
#mdish4{
    background-image: url(image/menu/menu-item-04.jpg);
    width: 340px;
    height: 400px;
}

#mdish5{
    background-image: url(image/menu/menu-item-05.jpg);
    width: 340px;
    height: 400px;
}

#mdish6{
    background-image: url(image/menu/menu-item-03.jpg);
    width: 340px;
    height: 400px;
}

.menubuttons{
    width: 100%;
    background: rgb(255, 248, 248);
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
}
/* add style to anchor tag also */

/* chef */

/* contact */




/* footer */
.col-10{
  width: 350px;
}
footer {
  width: 100%;
  background-color: #fb5849;
}
div.footer-container{
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fb5849;
}
footer .right-text-content {
  display:inline;
}
footer .right-text-content p {
  color: #fff;
  font-size: 14px;
  text-align: right;
}
footer .left-text-content {
  display: block;
}
footer .left-text-content p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
footer .left-text-content ul{
  padding-left: 0;
}
footer .left-text-content ul li {
  display: inline-block;
  margin: 10px;
}
footer .left-text-content ul li a {
  display: inline-block;
  text-align: center;
  line-height: 44px;
  width: 40px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #fb5849;
}
footer .left-text-content ul li a:hover {
  color: #2a2a2a;
}
footer .logo {
  display: block;
}
.fa {
  padding-top: 10px;
  font-size: 20px;
  width: 20px;
  margin: 0px 0px;
  border-radius: 50%;
}
/* misc */
p {
  line-height: 25px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
}
h4 {
  font-weight: 700;
  font-size: 15px;
}
h6 {
  color: var(--reddish-brown);
  font-size: 15px;
}
a:link {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--dark-blue);
  text-decoration: none;
}
::selection {
  background: var(--reddish-brown);
  color: #fff;
}

/* media query */
@media only screen and (max-width: 1200px) {
  .about-us{
    width: 930px;
  }
}
@media only screen and (max-width: 1250px){
  .col-10{
    width: 260px;
    margin-left: auto;
    margin-right:auto;
  }
  div.footer-container{
    width: 900px;
    margin-left: auto;
    margin-right:auto;
  }
}
@media only screen and (max-width: 1120px) {
  
  div.week-nav ul {
    margin-left: 240px;
  }
 
  div.item-breif {
    width: 310px;
  }
  .col-10{
    width: 270px;
  }
  div.footer-container{
    width: 850px;
  }
}
.col-10{
  width: 280px;
}

div.footer-container{
  width: 850px;
}
@media only screen and (max-width: 992px){
  .about-us{
    width: 690px;
  }
}
@media only screen and (max-width: 915px) {
  .col-10{
    width: 400px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  div.footer-container{
    width: 690px;
  }
  footer .logo{
    padding-left: 40px;
  }
  footer .right-text-content p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-right: 90px;
  }
}
@media only screen and (max-width: 768px){
  .about-us{
    width: 510px;
  }
}

@media only screen and (max-width: 710px) {
  .col-1 {
    width: 85%;
  } /*.about-text column*/
  .col-2 {
    width: 33%;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 85%;
  } /*about-us about-vid img column*/

  .col-5 {
    width: 100%;
  } /*meal-container breakfast,lunch,dinner (meal-col-)*/
  /* col-5 100% bcoz its mobile view */
  .col-6 {
    width: 100%;
  } /*individual meal in breakfast,lunch,dinner*/

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    margin-left: auto;
    margin-right: auto;
  }
  body{
    width: 100%;
  }
  .about-us {
    width: 100%;
  }
  div.col-1,
  div.col-3 {
    float: none;
  }
  div.week-nav ul {
    width: 100%;
    margin-left: 10%;
  }
  div.dish div.price{
      position: absolute;
      margin: 15px 15px;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      
  }
  div.dish div.price h6{
      color: #fff;
      background-color: #fb5849;
      width: 60px;
      height: 60px;
      padding-top: 20px;
      margin: 0;
      text-align: center;
      border-radius: 4px;
  }
  div.dish img.dish-img{
      width: 100%;
  }
  div.overlay{
      position: absolute;
      bottom: 0;
      left: 5.5%;
      right: 0;
      width: 90%;
      height:25%;
      overflow: hidden;
      color: #fff;
      background-color: #fb5849;
      padding: 0;
      padding-top: 20px;
      margin: 0;
      text-align: left;
      border-radius: 4px;
      transition: all 0.5s;
  }
  div.overlay a{
      color: var(--white);
      margin-left: 20px;
  }
  div.dish:hover div.overlay{
      height: 50%;
      overflow: hidden;
      
  }
  div.overlay h1.title{
      font-size: 22px;
      margin-left: 20px;
  }
  div.overlay p.description{
      margin-left: 20px;
  }
  div.overlay span.list{
      margin-left: 20px;
    
  }

  div.week-container,
  div.meal-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-5 {
    float: none;
  }
  div.item-breif {
    width: 85%;
  }
  div.about-vid img {
    width: 100%;
    max-width: none;
    margin-top: 4.5vh;
  }
}
footer .right-text-content,footer .right-text-content {
  display:block;
}
footer .logo {
  display: block;
}
footer .left-text-content,footer .left-text-content ul{
  display: block;
}
footer .left-text-content ul li{
  display: inline;
}
@media only screen and (max-width: 575px) {
  .about-us{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .col-5 {
    width: 100%;
  } /*meal-container breakfast,lunch,dinner (meal-col-)*/
  /* col-5 100% bcoz its mobile view */
  .col-6 {
    width: 100%;
  } /*individual meal in breakfast,lunch,dinner*/
  body{
    width: 100% !important;
  }
  .about-us {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-1 {
    float: none;
  }
  div.week-nav {
    width: 100%;
  }
  div.week-nav ul li.tab-container {
    margin-right: 0;
  }
  .tab-icon {
    width: 70px;
  }
  div.week-container,
  div.meal-container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-5 {
    float: none;
  }
  div.item img.week-item {
    width: 75px;
  }
  div.item div.price h6 {
    width: 52px;
    height: 52px;
    padding-top: 20px;
  }
  div.item-breif {
    width: 85%;
  }
  div.about-vid img {
    width: 100%;
    max-width: none;
    margin-top: 4.5vh;
  }
  div.item div.price h6 {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--white);
    background-color: var(--reddish-brown);
    width: 70px;
    height: 70px;
    padding-top: 27.5px;
    text-align: center;
    border-radius: 4px;
}
div.item img.week-item{
    float: left;
    margin: 0 20px 0 0;
}
div.item-breif{
    width: 425px;
}
div.item-breif h4{
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}
div.item-breif p{
    margin-top: 0;
    margin-right: 20%;
}
}


/* misc */
p{
    line-height: 25px;
}
h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
}
h4{
    font-weight: 700;
    font-size: 15px;
}
h6{
    color: var(--reddish-brown);
    font-size: 15px;
}
a:link{
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: var(--dark-blue);
    text-decoration: none;
}
::selection {
    background: var(--reddish-brown);
    color: #fff;
}

/* revised css for media queries */
@media only screen and (max-width: 1200px){
  /* about us */
  .col-1 {
    width: 450px;
  } /*.about-text column*/
  .col-2 {
    width: 129px;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 420px;
  } /*about-us about-vid img column*/
  .about-us {
    max-width: 930px;
  }
  div.about-text p{
    width: 450px;
  }
  div.week-container,
  div.meal-container {
    width: 930px;
  }
  .week-heading h2,h6 {
    width: 289px;
  }
  div.meal-col-1{
    width: 435px;
  }
  div.item-breif h4{
    width: 335px;
  }
  div.item-breif p {
    width: 335px;
  }
  div.item div.price h6 {
    position: absolute;
    top: 0;
    left: 365px;
  }
}
@media only screen and (max-width: 992px){
  /* about us */
  .col-1 {
    width: 330px;
  } /*.about-text column*/
  .col-2 {
    width: 100px;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 330px;
  } /*about-us about-vid img column*/
  .about-us {
    max-width: 690px;
  }
  div.about-text p{
    width: 330px;
  }
  .about-us h6 {
  width: 330px;
  }
  .about-us h2{
    width: 330px;
  }
  .about-us p{
    width: 330px;
  }
  div.about-vid img {
    margin-top: 50px;
    margin-left: 30px;
  }
  div.week-container,
  div.meal-container {
    width: 690px;
  }
  .week-heading h2,h6 {
    width: 690px;
  }
  div.meal-col-1{
    width: 435px;
  }
  div.item{
    margin-bottom: 0;
  }
  div.item-breif h4{
    width: 335px;
  }
  div.item-breif p {
    width: 335px;
  }
  div.item div.price h6 {
    position: absolute;
    top: 0;
    left: 365px;
  }
  .col-5{
    width: 100%;
    float: none;
  }
  #breakfast,#lunch,#dinner {
    width: 440px;
    margin: auto;
  }
  div.week-nav ul {
    width: 358px;
    margin-left: auto;
    margin-right: auto;
  }
  div.week-nav {
    margin-bottom: 60px;
  }

}
@media only screen and (max-width: 768px){
  .col-1 {
    width: 510px;
  } /*.about-text column*/
  .col-2 {
    width: 160px;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 510px;
  } /*about-us about-vid img column*/
  .about-us {
    max-width: 510px;
  }
  div.about-text p{
    width: 480px;
    padding-left: ;
  }
  .about-us h6 {
  width: 510px;
  }
  .about-us h2{
    width: 510px;
  }
  .about-us p{
    width: 510px;
  }
  div.about-vid img {
    margin-top: 50px;
    margin-left: 0px;
  }

  div.week-container,
  div.meal-container {
    width: 510px;
  }
  .week-heading h2,h6 {
    width: 510px;
  }
  div.meal-col-1{
    width: 510px;
  }
  div.item{
    margin-bottom: 40px;
  }
  div.item-breif h4{
    width: 410px;
    font-weight: 600;
  }
  div.item-breif p {
    width: 410px;
    font-size: 15px;
    
  }
  div.item div.price h6 {
    position: absolute;
    top: 0;
    left: 440px;
  }
  .col-5{
    width: 100%;
    float: none;
  }
  #breakfast,#lunch,#dinner {
    width: 510px;
    margin: auto;
  }
  div.week-nav ul {
    width: 358px;
    margin-left: auto;
    margin-right: auto;
  }
  div.week-nav {
    margin-bottom: 60px;
  }

}