:root {
  --blue: #007bff;
  --dark-blue: #0056b3;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --reddish-brown: #fb5849;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;

  font-weight: 400;
}
/*  body*/
body {
  line-height: 1.7em;
  font-family: "Poppins", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: var(--white); /* replaced #F2F2F2 to white */
}
/* grid */
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 540px;
} /*.about-text column*/
.col-2 {
  width: 160px;
} /*.about-us .about-text .row img.col2*/
.col-3 {
  width: 510px;
} /*about-us about-vid img column*/
.col-4 {
  width: 86px;
} /*week-container week-nav tab-container column*/
.col-5 {
  width: 50%;
} /*meal-container breakfast,lunch,dinner (meal-col-)*/
.col-6 {
  width: 100%;
} /*individual meal in breakfast,lunch,dinner*/
.col-7 {
  width: 20%;
}
.col-8 {
  width: 32.35%;
} /* for left content of reservation-container*/
.col-9 {
  width: 67.65%;
} /*right-content of reservation-container*/

/* header  nav bar*/

/* about us */
.about-us {
  margin: 5vh 11vw;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.about-us h6,
h2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.about-text {
  width: 50%;
}
div.row img.col-2 {
  padding-left: 0;
}
div.about-vid img {
  width: 100%;
  max-width: 470px;
  margin-top: 4.5vh;
}

/* menu */
.menu-container {
  background-color: rgba(251, 88, 73, 0.05);
}
.menu-heading-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.menu-heading {
  width: 350px;
}
.menu-heading h2,
h6 {
  width: inherit;
}
.menu-heading h2 {
  margin-top: 10px;
}
.menu-heading h6 {
  padding-top: 90px;
  margin-bottom: 0;
  font-weight: 500;
}
.menu-list {
  width: 100%;
}
.dish {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
div.dish div.price {
  position: absolute;
  margin: 15px 15px;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
div.dish div.price h6 {
  color: var(--white);
  background-color: var(--reddish-brown);
  width: 60px;
  height: 60px;
  padding-top: 20px;
  margin: 0;
  text-align: center;
  border-radius: 4px;
}
div.dish img.dish-img {
  width: 100%;
}
div.overlay {
  position: absolute;
  bottom: 0;
  left: 5.5%;
  right: 0;
  width: 89%;
  height: 15%;
  overflow: hidden;
  color: var(--white);
  background-color: var(--reddish-brown);
  padding: 0;
  padding-top: 20px;
  margin: 0;
  text-align: left;
  border-radius: 4px;
  transition: all 0.5s;
}
div.dish:hover div.overlay {
  height: 50%;
  overflow: hidden;
}
div.overlay h1.title {
  font-size: 16px;
  margin-left: 20px;
}
div.overlay p.description {
  margin-left: 20px;
}
div.overlay span.list {
  margin-left: 20px;
}
/* add style to anchor tag also */

/* chef */

/* contact */


/* klassy week */
/* breakpoint for klassy week should be min 1110px(width) for tablet */
div.week-container,
div.meal-container {
  width: 1110px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.week-heading h2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.week-heading,
.tab-container {
  text-align: center;
}

div.week-nav ul li {
  list-style-type: none;
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
}
div.week-nav ul {
  margin-left: 340px;
}
/* below breakfast,lunch,dinner are set such as to display for first time when page loads */
#breakfast {
  display: block;
}
#lunch,
#dinner {
  display: none;
}
/* below code to be added but not working */
.tab-container a:link {
  color: var(--reddish-brown);
}
.tab-container a:active {
  cursor: pointer;
  color: var(--reddish-brown);
}
/* meal of klassy week */
div.item {
  position: relative;
}
div.item div.price h6 {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--white);
  background-color: var(--reddish-brown);
  width: 70px;
  height: 70px;
  padding-top: 27.5px;
  text-align: center;
  border-radius: 4px;
}
div.item img.week-item {
  float: left;
  margin: 0 20px 0 0;
}
div.item-breif {
  width: 425px;
}
div.item-breif h4 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
}
div.item-breif p {
  margin-top: 0;
}

/* footer */
.col-10{
  width: 350px;
}
footer {
  width: 100%;
  background-color: #fb5849;
}
div.footer-container{
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fb5849;
}
footer .right-text-content {
  display:inline;
}
footer .right-text-content p {
  color: #fff;
  font-size: 14px;
  text-align: right;
}
footer .left-text-content {
  display: block;
}
footer .left-text-content p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
footer .left-text-content ul{
  padding-left: 0;
}
footer .left-text-content ul li {
  display: inline-block;
  margin: 10px;
}
footer .left-text-content ul li:first-child {
}
footer .left-text-content ul li a {
  display: inline-block;
  text-align: center;
  line-height: 44px;
  width: 40px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #fb5849;
}
footer .left-text-content ul li a:hover {
  color: #2a2a2a;
}
footer .logo {
  display: block;
}
.fa {
  padding-top: 10px;
  font-size: 20px;
  width: 20px;
  margin: 0px 0px;
  border-radius: 50%;
}
}
/* misc */
p {
  line-height: 25px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
}
h4 {
  font-weight: 700;
  font-size: 15px;
}
h6 {
  color: var(--reddish-brown);
  font-size: 15px;
}
a:link {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--dark-blue);
  text-decoration: none;
}
::selection {
  background: var(--reddish-brown);
  color: #fff;
}

/* media query */
@media only screen and (max-width: 1250px){
  .col-10{
    width: 260px;
  }
  div.footer-container{
    width: 900px;
  }
}
@media only screen and (max-width: 1120px) {
  .col-1 {
    width: 420px;
  } /*.about-text column*/
  .col-2 {
    width: 130px;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 425px;
  } /*about-us about-vid img column*/
  .about-us {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  div.week-nav ul {
    margin-left: 240px;
  }
  div.week-container,
  div.meal-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  div.item-breif {
    width: 310px;
  }
  .col-10{
    width: 270px;
  }
  div.footer-container{
    width: 850px;
  }
}
.col-10{
  width: 280px;
}

div.footer-container{
  width: 850px;
}
@media only screen and (max-width: 915px) {
  .col-1 {
    width: 690px;
  } /*.about-text column*/
  .col-2 {
    width: 220px;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 690px;
  } /*about-us about-vid img column*/

  .col-5 {
    width: 100%;
  } /*meal-container breakfast,lunch,dinner (meal-col-)*/
  /* col-5 100% bcoz its mobile view */
  .col-6 {
    width: 100%;
  } /*individual meal in breakfast,lunch,dinner*/

  .about-us {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-1,
  div.col-3 {
    float: none;
  }
  div.week-nav ul {
    margin-left: 124px;
  }

  div.week-container,
  div.meal-container {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-5 {
    float: none;
  }
  div.item-breif {
    width: 500px;
  }
  div.about-vid img {
    width: 100%;
    max-width: none;
    margin-top: 4.5vh;
  }
  .col-10{
    width: 400px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  div.footer-container{
    width: 690px;
  }
  footer .logo{
    padding-left: 40px;
  }
  footer .right-text-content p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-right: 90px;
  }
}
/* footer */

@media only screen and (max-width: 710px) {
  .col-1 {
    width: 85%;
  } /*.about-text column*/
  .col-2 {
    width: 33%;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 85%;
  } /*about-us about-vid img column*/

  .col-5 {
    width: 100%;
  } /*meal-container breakfast,lunch,dinner (meal-col-)*/
  /* col-5 100% bcoz its mobile view */
  .col-6 {
    width: 100%;
  } /*individual meal in breakfast,lunch,dinner*/

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    margin-left: auto;
    margin-right: auto;
  }
  .about-us {
    width: 100%;
  }
  div.col-1,
  div.col-3 {
    float: none;
  }
  div.week-nav ul {
    width: 100%;
    margin-left: 10%;
  }
  div.dish div.price{
      position: absolute;
      margin: 15px 15px;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      
  }
  div.dish div.price h6{
      color: #fff;
      background-color: #fb5849;
      width: 60px;
      height: 60px;
      padding-top: 20px;
      margin: 0;
      text-align: center;
      border-radius: 4px;
  }
  div.dish img.dish-img{
      width: 100%;
  }
  div.overlay{
      position: absolute;
      bottom: 0;
      left: 5.5%;
      right: 0;
      width: 90%;
      height:25%;
      overflow: hidden;
      color: #fff;
      background-color: #fb5849;
      padding: 0;
      padding-top: 20px;
      margin: 0;
      text-align: left;
      border-radius: 4px;
      transition: all 0.5s;
  }
  div.overlay a{
      color: var(--white);
      margin-left: 20px;
  }
  div.dish:hover div.overlay{
      height: 50%;
      overflow: hidden;
      
  }
  div.overlay h1.title{
      font-size: 22px;
      margin-left: 20px;
  }
  div.overlay p.description{
      margin-left: 20px;
  }
  div.overlay span.list{
      margin-left: 20px;
    
  }

  div.week-container,
  div.meal-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-5 {
    float: none;
  }
  div.item-breif {
    width: 85%;
  }
  div.about-vid img {
    width: 100%;
    max-width: none;
    margin-top: 4.5vh;
  }
}
footer .right-text-content,footer .right-text-content {
  display:block;
}
footer .logo {
  display: block;
}
footer .left-text-content,footer .left-text-content ul{
  display: block;
}
footer .left-text-content ul li{
  display: inline;
}
@media only screen and (max-width: 500px) {
  .col-1 {
    width: 98%;
  } /*.about-text column*/
  .col-2 {
    width: 30%;
  } /*.about-us .about-text .row img.col2*/
  .col-3 {
    width: 98%;
  } /*about-us about-vid img column*/

  .col-5 {
    width: 100%;
  } /*meal-container breakfast,lunch,dinner (meal-col-)*/
  /* col-5 100% bcoz its mobile view */
  .col-6 {
    width: 100%;
  } /*individual meal in breakfast,lunch,dinner*/

  .about-us {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-1,
  div.col-3 {
    float: none;
  }
  div.week-nav {
    width: 100%;
  }
  div.week-nav ul li.tab-container {
    margin-right: 0;
  }
  .tab-icon {
    width: 70px;
  }
  div.week-container,
  div.meal-container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  div.col-5 {
    float: none;
  }
  div.item img.week-item {
    width: 75px;
  }
  div.item div.price h6 {
    width: 52px;
    height: 52px;
    padding-top: 20px;
  }
  div.item-breif {
    width: 85%;
  }
  div.about-vid img {
    width: 100%;
    max-width: none;
    margin-top: 4.5vh;
  }
  div.item div.price h6 {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--white);
    background-color: var(--reddish-brown);
    width: 70px;
    height: 70px;
    padding-top: 27.5px;
    text-align: center;
    border-radius: 4px;
}
div.item img.week-item{
    float: left;
    margin: 0 20px 0 0;
}
div.item-breif{
    width: 425px;
}
div.item-breif h4{
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}
div.item-breif p{
    margin-top: 0;
}



/* misc */
p{
    line-height: 25px;
}
h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
}
h4{
    font-weight: 700;
    font-size: 15px;
}
h6{
    color: var(--reddish-brown);
    font-size: 15px;
}
a:link{
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: var(--dark-blue);
    text-decoration: none;
}
::selection {
    background: var(--reddish-brown);
    color: #fff;
}
